
<li class="menu">
    <a href="#">
        <span class="nav-label">管理员管理</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{:url('admins/index')}">管理员列表</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('admins/addAdmin')}">添加管理员</a>
        </li>
    </ul>
</li>
<li class="menu">
    <a href="#">
        <span class="nav-label">用户模块</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{:url('member/index')}">用户列表</a>
        </li>
    </ul>
</li>