
<li class="menu">
    <a href="#">
        <span class="nav-label">管理员管理</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{:url('admins/index')}">管理员列表</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('admins/addAdmin')}">添加管理员</a>
        </li>
    </ul>
</li>
<li class="menu">
    <a href="#">
        <span class="nav-label">用户模块</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{:url('member/index')}">用户列表</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('member/moneyRecord')}">余额记录</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('member/returnApply')}">申请提现</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('member/realName')}">实名认证</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('member/share')}">用户邀请</a>
        </li>
    </ul>
</li>
<li class="menu">
    <a href="#">
        <span class="nav-label">打卡模块</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{:url('clock/index')}">打卡活动</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('clock/clockJoin')}">打卡报名</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('clock/clockSign')}">打卡签到</a>
        </li>
    </ul>
</li>
<li class="menu">
    <a href="#">
        <span class="nav-label">房间挑战</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{:url('room/minSet')}">保底房间设置</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('room/commonSet')}">普通房间设置</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('room/roomList')}">房间挑战</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('room/roomJoin')}">房间挑战报名</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('room/roomSign')}">房间挑战打卡</a>
        </li>
    </ul>
</li>

<li class="menu">
    <a href="#">
        <span class="nav-label">闯关模块</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{:url('pass/index')}">闯关活动</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('pass/passJoin')}">闯关报名</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('pass/passSign')}">闯关签到</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('pass/passReward')}">闯关支出</a>
        </li>
    </ul>
</li>
<li class="menu">
    <a href="#">
        <span class="nav-label">排行榜</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{:url('clock/ranking')}">打卡排行榜</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('room/ranking')}">房间挑战排行榜</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('pass/ranking')}">闯关排行榜</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('member/ranking')}">邀请排行榜</a>
        </li>
    </ul>
</li>
<li class="menu">
    <a href="#">
        <span class="nav-label">系统设置</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{:url('system/help')}">帮助中心</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('system/aboutUs')}">关于我们</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('system/disclaimer')}">免责申明</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('system/version')}">版本设置</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('system/shareMoney')}">奖励金额</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('system/returnTime')}">提现设置</a>
        </li>
<!--        <li>-->
<!--            <a class="J_menuItem" href="{:url('system/returnPercent')}">提现费率</a>-->
<!--        </li>-->
        <li>
            <a class="J_menuItem" href="{:url('system/passPercent')}">闯关分销</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('system/passReward')}">闯关完成奖励</a>
        </li>
    </ul>
</li>